* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Head Text */
header {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(237,237,237,.8);
}
#head-text {
   padding: 1rem;
   font-weight: 100;
   font-family: cursive;
   color: #fff;
}

/* List of Top 10 richest people in the world and there details */
main {
    margin-top: 5rem;
}
.wrap {
    margin: auto;
    width: 90%;
    margin-top: 7px;
    background-color: #ededed;
    border-radius: 1rem;
    box-shadow: 4px 4px 2px rgba(95,108,175, 0.2);
}
.text-wrap {
    align-self: center;
}
.card {
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 1.3rem 5px;
   

}
.img-wrap {
    width: 150px;
    border-radius: 10px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.hidden-info ul {
    list-style: none;
    font-size: 1rem;
    font-family: cursive;
}
.hidden-info ul li {
    padding-top: 1rem;
}
.btn {
    padding: 7px 16px;
    font-size: 1rem;
    font-family: cursive;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    transition: 1s ease;
    background-color: transparent;
    color: #333333;
}
.hidden-info {
    display: none;
}

/* Ipad Screen */
@media (min-width:768px) {
    .wrap {
        width: 70%;
    }
}

/* Ipad pro Screen */
@media (min-width:1024px) {
    .wrap {
        width: 60%;
    }
}

/* Ladtop and Desktop Screen */
@media (min-width:1200px) {
    .wrap {
        width: 40%;
    }

}

